<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="author" content="Marcin Muszynski">
    <title>City Name Converter</title>
    <link rel="stylesheet" href="static/bootstrap.min.css">
    <style>
        .city-box {
            border: 1px solid black;
            padding: 20px;
            border-radius: 5px;
        }
    </style>
</head>
<body>
    <div class="col-md-10 col-md-offset-1 col-sm-12">
        <div class="container city-box">
            <h1 class="page-header">City name converter</h1>
            <section id="converter">
                <div class="row">
                    <div class="col-md-6 col-sm-12">
                        <form method="post" action="/">
                            <div class="form-group">
                                <label for="city">Provide the name of the city</label>
                                <input id="city" class="form-control" name="city" type="text" required>
                            </div>
                            <button class="btn btn-success" type="submit">Submit</button>
                        </form>
                    </div>
                    {% if converted %}
                        <div class="col-md-6 col-sm-12">
                            <div class="alert alert-success" role="alert">
                                Operation successful for "{{ convert_input }}"! <br>
                                <strong>Result number:</strong> {{ convert_result }}
                            </div>
                        </div>
                    {% endif %}
                    {% if convert_error %}
                        <div class="col-md-6 col-sm-12">
                            <div class="alert alert-danger" role="alert">
                                <strong>Operation Error!</strong> {{ convert_error_info }}
                            </div>
                        </div>
                    {% endif %}
                </div>
            </section>
            <h1 class="page-header">City number decryptor</h1>
            <section id="decryptor">
                <div class="row">
                    <div class="col-md-6 col-sm-12">
                        <form method="post" action="/">
                            <div class="form-group">
                                <label for="number">Provide the number</label>
                                <input id="number" class="form-control" name="number" type="text" required>
                            </div>
                            <button class="btn btn-success" type="submit">Submit</button>
                        </form>
                    </div>
                    {% if decrypted %}
                        <div class="col-md-6 col-sm-12">
                            <div class="alert alert-success" role="alert">
                                Operation successful for "{{ decrypt_input }}"! <br>
                                <strong>Decrypted city name:</strong> {{ decrypt_result }}
                            </div>
                        </div>
                    {% endif %}
                    {% if decrypt_error %}
                        <div class="col-md-6 col-sm-12">
                            <div class="alert alert-danger" role="alert">
                                <strong>Operation Error!</strong> {{ decrypt_error_info }}
                            </div>
                        </div>
                    {% endif %}
                </div>
            </section>
        </div>
        <section id="how-to">
            <div class="row">
                <div class="col-md-8 col-sm-12">
                    <h3>How does it work?</h3>
                    <p>
                        Converter generates unique number for given city name. Process is reversible, so
                        it can be decoded using the Decryptor.
                        The Converter uses quite naive approach.<br>
                        <ul>
                           <li>Convert all letters to corresponding ascii numbers</li>
                           <li>
                               Since only lowercase letters are handled, most of the letters have 3-digit representation.
                               Two digit letters are handled by adding prefixes in the following manner:
                               <ul>
                                   <li>add '-' if placed at the beginning,</li>
                                   <li>add '0' if in the middle.</li>
                               </ul>
                           </li>
                           <li>Concatenate the resulting string of numbers</li>
                        </ul>
                        This ensures that each unique name will have it's unique representation.
                        Decrypting such number is just the above process reversed.
                    </p>
                </div>
            </div>
        </section>
    </div>
</body>
</html>
