<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hi there!</title>
    <link rel="stylesheet" href="static/bootstrap.min.css">
    <style>
        .city-box {
            border: 1px solid black;
            padding: 20px;
            border-radius: 5px;
        }
    </style>
</head>
<body>
    <div class="col-md-10 col-md-offset-1 col-sm-12">
        <div class="container city-box">
            <h1 class="page-header">City name converter</h1>
            <section id="converter">
                <div class="row">
                    <div class="col-md-6 col-sm-12">
                        <form method="post" action="/">
                            <div class="form-group">
                                <label for="city">Provide the name of the city</label>
                                <input id="city" class="form-control" name="city" type="text" required>
                            </div>
                            <button class="btn btn-success" type="submit">Submit</button>
                        </form>
                    </div>
                    {% if converted %}
                        <div class="col-md-6 col-sm-12">
                            <div class="alert alert-success" role="alert">
                                Operation successful for "{{ convert_input }}"! <br>
                                <strong>Result number</strong> {{ convert_result }}
                            </div>
                        </div>
                    {% endif %}
                    {% if convert_error %}
                        <div class="col-md-6 col-sm-12">
                            <div class="alert alert-danger" role="alert">
                                <strong>Operation Error!</strong> {{ convert_error_info }}
                            </div>
                        </div>
                    {% endif %}
                </div>
            </section>
            <h1 class="page-header">City number decryptor</h1>
            <section id="decryptor">
                <div class="row">
                    <div class="col-md-6 col-sm-12">
                        <form method="post" action="/">
                            <div class="form-group">
                                <label for="number">Provide the number</label>
                                <input id="number" class="form-control" name="number" type="text" required>
                            </div>
                            <button class="btn btn-success" type="submit">Submit</button>
                        </form>
                    </div>
                    {% if decrypted %}
                        <div class="col-md-6 col-sm-12">
                            <div class="alert alert-success" role="alert">
                                Operation successful for "{{ decrypt_input }}"! <br>
                                <strong>Result number</strong> {{ decrypt_result }}
                            </div>
                        </div>
                    {% endif %}
                    {% if decrypt_error %}
                        <div class="col-md-6 col-sm-12">
                            <div class="alert alert-danger" role="alert">
                                <strong>Operation Error!</strong> {{ decrypt_error_info }}
                            </div>
                        </div>
                    {% endif %}
                </div>
            </section>
        </div>
        <section id="how-to">
            <div class="row">
                <div class="col-md-8 col-sm-12">
                    <h3>How does it work?</h3>
                    <p>Lorem ipsum et cetera</p>
                </div>
            </div>
        </section>
    </div>
</body>
</html>
